@font-face {
  font-family: 'Roboto-Regular';
  src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  src: url('../Fonts/Roboto/Roboto-Regular-webfont.eot');
  font-weight: 200;
}
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../Fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: 200;
}
